@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.bounce-once {
  animation: bounce 1s ease-in-out 1;
}

@keyframes slideRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(10%);
  }
}


.slide-right-once {
  animation: slideRight 1s ease-in-out 1;
}
